<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>CDs Organizer</title>
  </head>
  <body>
    <h1>CD Catalog</h1>
    <form action="/cdsorganizer" method="post">
    <label for="title">CD Title: </label>
    <input id="title" name="title" type="text">
    <label for="artist">Artist: </label>
    <input id="artist" name="artist" type="text">
    <label for="album">Album Cover: </label>
    <input id="album" name="album" type="text">
    <button type="apply">Save Album</button>
  </form>
</body>
</html>
